<header>
  <span class="site-title"
    style="font-size:3rem;display:inline-block;vertical-align:middle;">
    <a href="{{ .Site.BaseURL }}" style="font-family:uuu">
      <img src="/icon/favicon.svg" alt="img"
        width="64rem"
        height="64rem"
        style="display:inline-block;vertical-align: middle;" /></a>
    {{ .Site.Title }}</span>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  {{ with .Site.Menus.main }}
  <nav>
    <ul class="main-menu">
      {{ range . }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </nav>
  {{ end }}
</header>
