@font-face {
  /*font-family: "F0NT";*/
  font-style: normal;
  src: url("/fonts/F0NT.woff2") format("woff2")
}

body {
    color: white;
    background-color:rgb(34,34,34);
    font-family: "F0NT";
    max-width: 80ch;
    margin-left:auto;
    margin-right:auto;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #e06020;
}

::selection {
  color: white;
  background: #e06020;
}

a:link {
  color: #e0a0e0;
}

a:visited {
  color: #e06020;
}

a:hover {
  color: #20e0e0;
}

a:active {
  color: #20e0a0;
}
