@font-face {
  font-family: "F0NT";
  font-style: normal;
  src: url("/fonts/F0NT.woff2") format("woff2")
}

body {
    font-family: "F0NT";
    max-width: 80ch;
    margin-left:auto;
    margin-right:auto;
}

a:link {
  color: #e0a0e0;
}

a:visited {
  color: #e06020;
}

a:hover {
  color: #20e0e0;
}

a:active {
  color: #20e0a0;
}
